<!-- 
 Disclaimer: PaymentSense provides this code as an example of a working integration module.
 Responsibility for the final implementation, functionality and testing of the module resides with the merchant/merchants website developer.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<title>Transfering to PaymentSense</title>
		<link href="css/StyleSheet.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div style="width:<?= $Width ?>px;margin:auto">
			<form name="Form" id="Form" action="<?= $FormAction ?>" method="post">