﻿html,body{ margin:0; padding:0; height:100%; width:100%; background:#32373D;}
body {
	font-size: 12px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;

}
.nav-tabs {
	border: none;
}
.nav-tabs > li > a {
	color: #262B33;
    text-transform: uppercase;
    border-bottom: none;
    font-size: 14px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    line-height: inherit;
    border: none;
    border-radius: 0;
	margin-right: 0;
}
.nav-tabs > li > a:hover {
	background: none;
	border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
	color: #1D75BC;
}
.split.even-left {
	padding-right: 15px;
}
.split.even-right {
	padding-left: 15px;
}
.form-group.even-left {
	padding-right: 30px;
}
.form-group.even-right {
	padding-left: 30px;
}
font[color="red"] {
	font-size: 14px;
	position: absolute;
	top: 10px;
}
.even-left .even-left font[color="red"], .even-right .even-left font[color="red"] {
	right: 30px;
}
.even-right .even-right font[color="red"], .even-left .even-right font[color="red"] {
	right: 45px;
}
.postCode-icon {
	position: absolute;
	top: 10px;
}
.even-left .postCode-icon {
	right: 45px;
}
.crop-sm-right {
    padding-right: 7.5px;
}
.crop-sm-left {
    padding-left: 7.5px;
}
.crop-sm-both {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.none-right {
    padding-right: 0;
}
.none-left {
    padding-left: 0;
}
.none-both {
    padding-left: 0;
    padding-right: 0;
}
.colorpicker{opacity:1 !important;-webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
    transform: scale(1) !important;
	right: auto !important;
	transition: none !important;}

.colorpicker-2x .colorpicker-saturation {
        width: 200px;
        height: 200px;
    }
    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 200px;
    }
    .colorpicker-2x .colorpicker-color,
    .colorpicker-2x .colorpicker-color div{
        height: 30px;
    }				
.open .dropdown-menu {
	opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.dropdown-menu {
	right: 0;
	left: auto;
	margin-top: 2px !important;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	
	display: block;
    opacity: 0;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	
	    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}
.dropdown-menu:before {
	content: " ";
    position: absolute;
    left: auto;
	right: 12px;
    top: -16px;
    border: 8px solid transparent;
    border-bottom: 8px solid rgba(0,0,0,0.15);
}
.dropdown-menu:after {
	content: " ";
    position: absolute;
    left: auto;
	right: 13px;
    top: -14px;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
}
.dropdown-menu > li > a {
	width: 100% !important;
	height: auto !important;
	font-size: 14px !important;
	padding: 3px 20px !important;
	color: #3D4051 !important;
	line-height: normal !important;
	text-align: left !important;
}
.dropdown-menu > li > a:hover {
	background: #1D75BC !important;
	color: #FFFFFF !important;
}
.dropdown-menu > li > a > i {
	width: 18px;
    font-size: 18px;
    margin-right: 5px;
    line-height: 20px;
}
							
#embed-api-auth-container{position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
    background: #FFFFFF;
    color: #262B33;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
    cursor: default;}
	
.gapi-analytics-auth-styles-signinbutton{
    background: #FFFFFF !important;
    color: #262B33 !important;
    font-family: "Roboto" !important;
    font-weight: bold !important;
    font-size: 14px !important;
    border-radius: 2px !important;
    cursor: pointer !important;
	width: auto !important;
}
.gapi-analytics-auth-styles-signinbutton-image{display:none !important;}
.gapi-analytics-auth-styles-signinbutton-buttonText{padding: 0 !important;}
.gapi-analytics-auth-styles-signinbutton-buttonText:hover{text-decoration:underline;}
	
.badge{padding:3px 0;min-width:25px;float:right;}

.help-block{margin:0;}
			
.preview-div{width:100%;display:inline-block;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);padding:15px;margin-bottom:15px;}
.preview-head{height:230px;margin-bottom:0;border-top:solid 5px;text-align:center;}
.preview-head img{height:36px;margin:55px 0 0 0;}
.preview-head span{font-family:open sans;font-size:11px;margin-left:15px;line-height:20px;}
.preview-head:first-child{margin-left:0;}
.preview-head ul{}
.preview-head ul li{padding:19px 13px;font-family:open sans;font-size:12px;font-weight:normal;display:inline-block;}

.preview-back{box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);padding:30px;height:750px;overflow:hidden;}
.preview-back:before {
	content:"";
	position:absolute;
	left:7px;
	right:7px;
	bottom:-4px;
	z-index:100;
	height:15px;
	
	background-image:url(/admin/images/zigzag.png);
}
.preview-slider{height:300px;background-size:cover;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);}			
.preview-thumbnails{margin:10px -5px 0 -5px;height:50px;}
.preview-thumbnails .thumbnail-box{height:50px;background-size:cover;background-position:center center;}
.preview-content{margin-top:10px;display:inline-block;width:100%;}
.preview-div h1{padding:25px 0 20px 0;margin:0 0 25px;background:url(/images/underlineGrey.png) repeat-x 0 -2px;width:100%;border-bottom:solid 1px rgba(0,0,0,0.1);font-family:open sans;font-size:21px;line-height:16px;}
.preview-div h2{padding:20px 0 10px 0;margin:0 0 20px;background:url(/images/underlineGrey.png) repeat-x 0 -2px;width:100%;border-bottom:solid 1px rgba(0,0,0,0.1);font-family:open sans;font-size:13px;line-height:13px;font-weight:bold;}
.preview-div h2 i{margin-right:5px;}
.preview-div p{font-size:9px;line-height:14px;}
.preview-div input{background: rgba(0, 0, 0, 0.05);
    border: none !important;
    box-shadow: none !important;
    border-radius: 1px;
    border-top: solid 1px rgba(0, 0, 0, 0.08) !important;
    border-bottom: solid 1px rgba(255, 255, 255, 0.30) !important;
    color: #312d2b;
    width: 100%;
    padding: 3px 5px;
    font-size: 9px;
    line-height: 1.42857143;}
			
.list-group-item{border:none;padding:0;}
.list-group-item a{display:inline-block;width:100%;padding:10px 15px;color:inherit;}
.list-group-item a:hover, .list-group-item a:focus, .list-group-item a:active{text-decoration:none;background:#F5F5F5;}
							
table.dataTable{border:none;border:solid 1px #DDDDDD;}

table.dataTable thead th, table.dataTable thead td{border-right:none;border-left:none;font-size:14px;}
table.dataTable tbody th, table.dataTable tbody td{border-bottom:none;border-right:none;border-left:none;font-size:14px;}

.company-box{border:solid 1px #E2EDEB;margin-bottom:20px;border-radius:2px;}
.company-box h2{
color: #262B33;
    text-transform: uppercase;
    border-bottom: none;
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 0;
	display: block;
    width: 100%;
	line-height: inherit;
	border: 0;
}
.company-box ul{padding:15px;}
.company-box li{font-size:14px;}
.company-box p{font-size:14px;padding:15px;margin:0;}

.progress{height:10px;margin-bottom:5px;border-radius:0;background-color:#f5f5f5;box-shadow:none;}
.progress .progress-bar{box-shadow:none;}
.progress-labels{font-size:14px;margin-bottom:20px;}
.progress-labels:last-child{margin-bottom:30px;}
.progress-rating{color:#A5AEB1;}
.progress-percent{float:right;}

.green .progress-bar{background:#2C7;}
.green .progress-percent{color:#2C7;}

.blue .progress-bar{background:#1D75BC;}
.blue .progress-percent{color:#1D75BC;}

.yellow .progress-bar{background:#FAB011;}
.yellow .progress-percent{color:#FAB011;}

.red .progress-bar{background:#EE4433;}
.red .progress-percent{color:#EE4433;}
	
.btn{padding:0 6px;height:36px;min-width:135px;line-height:35px;text-transform:uppercase;font-size:14px;letter-spacing:.010em;font-family:roboto;border-radius:2px;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);border:none;display:block;margin-bottom:0;font-weight:normal;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;outline:0;transition: all 0.4s;}	

.btn:hover, .btn:focus, .btn:active{outline:none !important;}
.btn.circle{font-size: 14px;
    width: 36px;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
	border-radius:100%;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.26);}
	
.input-group-addon{border-radius:2px;}	
	
.preview{border-radius:4px;padding:10px;background:white;}
							
.uniForm{padding-left:0;padding-right:0;}							
.section {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    background: white;
    border-radius: 2px;
    padding: 15px;
	margin-bottom: 15px;
}
.corner-ribbon{
  width: 150px;
  background: #e43;
  position: absolute;
  top: 20px;
  left: 40px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f0f0f0;
  z-index: 10;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 20px;
  left: -40px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 20px;
  right: -40px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 20px;
  left: -40px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -40px;
  bottom: 20px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.blue{background:#1D75BC;}
.corner-ribbon.green{background:#2C7;}
.corner-ribbon.red{background:#E43;}
.corner-ribbon.yellow{background:#FAB011;}

.btn-success{color:#FFF;background-color:#2C7;border-color:#2C7;}
.btn-success:hover{color:#FFF;background-color:#1FBC6E;border-color:#1FBC6E;}
.btn-warning{color:#FFF;background-color:#FAB011;border-color:#FAB011;}
.btn-warning:hover{color:#FFF;background-color:#F5AE15;border-color:#F5AE15;}
.btn-danger{color:#FFF;background-color:#E43;border-color:#E43;}
.btn-danger:hover{color:#FFF;background-color:#DE4131;border-color:#DE4131;}

.btn-group{position:absolute;top:0;right:15px;z-index:1;}
.btn-group a{color:#A5A5A5;transition:all 0.4s;box-shadow:none;background:transparent;width:45px;height:45px;line-height:45px;display:inline-block;text-align:center;font-size:14px;}
.btn-group a:hover{color:#1D75BC;}

body .ui-tooltip{
	background: rgba(29, 117, 188, 0.9);
    color: white;
    font-size: 11px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
}

.loading {
	background-image: url(http://downgraf.com/wp-content/uploads/2014/09/01-progress.gif);
    background-repeat: no-repeat;
    background-size: 80px 60px;
    background-position: center center;
}

p.cut {
	display: block;
	/* Fallback for non-webkit */
	display: -webkit-box;
	height: auto;
	max-height: 80px;
	/* Fallback for non-webkit */
	margin: 0 auto;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.panel-box{box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);background:white;overflow:hidden;border-radius:2px;margin-bottom:15px;position:relative;}
.panel-box .panel-top, .panel-box .panel-bottom{height:100px;padding:30px 15px;font-size:40px;line-height:1;text-align:center;}
.panel-box.item1 .panel-top i{color:#2C7;}
.panel-box.item2 .panel-top i{color:#1D75BC;}
.panel-box.item3 .panel-top i{color:#FAB011;}
.panel-box.item4 .panel-top i{color:#E43;}
.panel-box .panel-info{position:absolute;width:100%;top:50%;margin-top:-12px;text-align:center;}
.panel-box .panel-info span{height:24px;display:inline-block;padding:4px 10px;text-transform:uppercase;line-height:14px;background-color:#fff;border:1px solid #dfdfdf;font-size:11px;color:#777;border-radius:1em;}
.panel-box .panel-bottom{background:#f9f9f9;border-top:1px solid #dfdfdf;}
.panel-box .panel-bottom button{display:inline-block;}

.form-group:last-child{padding-bottom:0;}

.form-group{padding:0 30px;overflow:visible;}
.form-group label{font-size:14px;width:100%;}
.form-group label i{cursor:pointer;transition:color 0.4s;}
.form-group label i:hover{color:#1D75BC;}
.form-group input, .form-group select, .form-group textarea{padding:7.5px 12px;max-width:858px;max-height:362px;border-radius:2px;border:1px solid #CBD5DD;box-shadow:none;color:#3D4051;height:auto;transition:border-color 0.4s;background:transparent;}
.form-group input:hover, .form-group select:hover, .form-group textarea:hover{}
.form-group input:focus, .form-group select:focus, .form-group textarea:focus{border-color:#1D75BC;box-shadow:none;}

.buttons{padding:0;margin-top:30px;}
.buttons .col-sm-6{padding:0;}

.logo{background:#FFFFFF;padding:10px 20px;text-align:left;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}
.logo img{height:44px;max-width:100%;}

.blockPos:nth-child(1){padding-right:15px;}
.blockPos:nth-child(2){padding-left:15px;padding-right:15px;}
.blockPos:nth-child(3){padding-left:15px;}

.adminInfo {
	position: absolute;
	bottom: 30px;
}
.adminInfo p {
	color: #717985;
	text-align: center;
	width: 80%;
	margin: auto;
	font-size: 12px;
}
h1, .h1{font-weight:normal;font-size:34px;line-height:40px;color:#1D75BC;margin:15px 0 30px 0;padding:0;border:none;background:none;}
a {
	text-decoration: none;
}
ul, ul ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#main {
	position:absolute;
	top:64px;
	bottom:0;
	left:0;
	right:0;
}

#main.maximise {
	overflow-x: hidden;
}

#topMenu {
	height: 64px;
	background-color: #FFFFFF;
	clear:both;
	position:fixed;
	top:0;
	left:240px;
	right:0;
	padding:0 30px;
	color: #888888;
	z-index: 100;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	transition: all 0.3s;
}
#topMenu.maximise {
	left: 240px;
	right: -240px;
}
#topMenu .user {
	font-size: 12px;
	display: inline-block;
	color: #1A1D21;
	margin: 0;
	width: auto;
	padding: 17px 23px;
	text-transform: uppercase;
}
#topMenu .user i {
	background: #262B33;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 30px;
	margin-right: 10px;
	font-size: 12px;
}
#topMenu .toggle {
	display: inline-block;
	background: none;
	color: #1A1D21;
	margin: 0;
	width: auto;
	padding: 17px 0px;
	text-transform: uppercase;
	display:none;
}
#topMenu .toggle:hover {
	background: none;
}
#topMenu .toggle i {
	width: 30px;
	height: 30px;
	text-align: center;
	color: #1A1D21;
	line-height: 30px;
	font-size: 16px;
}
#topMenu .toggle:hover i {
	color: #1D75BC;
}
#topMenu a {
	color: #3D4051;
	font-size: 18px;
	padding: 20px 0;
	width: 64px;
	height: 64px;
	line-height: 26px;
	text-align: center;
	display: inline-block;
	transition: 0.3s;
	position: relative;
}
#topMenu a:hover {
	background: rgba(158,158,158,0.2); 
}
#topMenu a .count {
	color: #AAAAAA;
	
	position: absolute;
    top: 6px;
    right: 3px;
	
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

#bottomMenu {
	height: 20px;
	background-color: #616975;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	width: 100%;
	clear:both;
	position:fixed;
	bottom:0;
	color: #888888;
	border-top: 1px solid #1A1D21;
		z-index: 100;
}

#bottomMenu p {
	font-size: 11px;
	display:inline;
	line-height: 20px;
	margin: 0 10px;
	color: #1A1D21;
}
#bottomMenu a {color: #ffffff;}

.mainContent {
	position:absolute;
	top:0;
	bottom:0;
	left:240px;
	right:0;
	padding:0;
	transition: all 0.3s;
}

.mainContent.maximise {
	left: 240px;
	right: -240px;
}

.mainContent.maximise .whitePage {
	overflow-y: hidden;
}

.whitePage {
	background:#EFEFEF;
	padding: 30px;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	overflow:auto;
	height: 100%;
}

legend {
	color: #262B33;
	text-transform: uppercase;
	border-bottom: none;
	font-size: 14px;
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
}

legend i {
	color: #A5A5A5;
	transition: color 0.4s;
}

legend i:hover {
	color: #428BCA;
}

#sidebar {	
	width: 240px;
	float:left;
	background: #262B33;
	overflow:visible;
	position:fixed;
	left:0;
	bottom:0;
	top:0;
	z-index: 200;
	min-height: 545px;
	transition: all 0.3s;
	min-height: 512px;
}
#sidebar.maximise {
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
#quickSearch {	
	width: 240px;
	background-color: #616975;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
	background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
	border-bottom: 1px solid #33373d;
	-webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
	-moz-box-shadow: inset 0px 1px 0px 0px #878e98;
	box-shadow: inset 0px 1px 0px 0px #878e98;
	display: block;
	color:#000;
	clear:right;
}
#quickSearch input {
	/*width: 100%;*/
	padding: 5px;
	border: none;
	-moz-border-radius: 0;
	border-radius: 0;
	height: 34px;
	padding-left: 10px;
	font-size: 12px;
}
#quickSearch a {
	position: absolute;
	/*top: 0;*/
	right: 0;
	width: 34px;
	height: 34px;
}
#quickSearch a:before {
	content: "\f002";
    font-family: 'FontAwesome';
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 9px;
    text-align: center;
}

#menuWrapper {	
	width: 240px;
}

#menu {
	width: auto;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	z-index: 10;
	border-top:1px solid #33373D;
	text-decoration:none;
	min-height: 366px;
}

#menu > li > a {
	width: 100%;
	height: 51px;
	font-size: 13px;
	line-height: 51px;
	text-indent: 15px;
	display: block;
	position: relative;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: rgba(255,255,255,0.5);
	transition: color 0.3s;
}

#menu > li.title {
	padding: 15px 15px 10px;
	color: #666;
	font-size: 12px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;;
}

#menu ul li a {
	background: #1f242a;
	width: 100%;
	font-size: 13px;
	height: 51px;
	line-height: 51px;
	text-indent: 46px;
	display: block;
	position: relative;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,0.5);
	transition: all 0.3s;
}

#menu  li.current a.expand-collapse, #menu > li > a:hover {
    color: rgba(255,255,255,0.8);
	text-decoration: none;
}

#menu > li > a:hover, #menu > li > a:focus {
	text-decoration: none;
}

#menu ul li:hover {
	position: relative;
}

#menu > li:before {
	padding:15px 15px 10px;
	color:#666;
	font-size:12px;
	display:inline-block;
}

#menu > li > a:before {
	font-family: FontAwesome;
	font-size: 14px;
	margin-right: 10px;
	font-weight: normal;
}

#menu > li > a.expand-collapse:after {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 9px;
    transition: transform 0.3s;
    position: absolute;
    top: 14px;
    right: 15px;
    width: 20px;
    height: 20px;
    text-indent: 0;
    text-align: center;
    line-height: 19px;
}

#menu > li.current > a.clicked:after {
	transform: rotate(90deg);
}

#menu li div.content ul li a:before{
	font-size: 8px;
	color: #bcbcbf;
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0;
	overflow:auto;
	text-decoration:none;
}

#menu li div.content ul li:hover > a,
#menu li div.content ul li:hover > a span,
#menu li div.content ul li:hover > a:before {
	color: rgba(255,255,255,0.8);
	background: rgba(158,158,158,0.2);
	text-decoration: none;
	
}

#menu > li > a span {
	font-size: 0.857em; 
	display: inline-block;
	position: absolute;
	right: 1em;
	top: 50%; /
	background: #fff;
	border: 1px solid #d0d0d3;
	line-height: 1em;
	height: 1em;
	padding: .4em .7em;
	margin: -.9em 0 0 0; 
	color: #878d95;
	text-indent: 0;
	text-align: center;
	-webkit-border-radius: .769em;
	-moz-border-radius: 769em;
	border-radius: 769em;
	text-shadow: 0px 0px 0px rgba(255,255,255,.01));
}

#menu > li > a > i {
	font-size: 14px;
    margin-right: 10px;
    font-weight: normal;
    text-indent: 0;
}

#menu > li > div.content > ul > li {
	height: auto;
}

#menu > li > div.content > ul > li a:before {
	content: '\f111';
	font-family: FontAwesome;
	line-height: normal;
	text-indent: 0;
	width: auto;
	height: auto;
	font-size: 5px;
	left: 25px; 
	top: 23px;
	color: rgba(255,255,255,0.5);
}

#menu > ul li:last-child a {
	border-bottom: 1px solid #33373d;
}

#menu li div.content {
	display: none;
}

/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menu ul li ul {
	height: 0;
	overflow: hidden;
	
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#menu ul li ul li a {
	text-indent: 92px;
}

#menu > ul > li > ul > li > a:before {
	left: 46px;
}
 
/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
#menu ul > li:hover > ul {
    height: auto;
	overflow: visible;
}

/**** THIRD LEVEL MENU ****/
/* We need to hide the 3rd menu, when hovering the first level menu */
#menu ul li:hover ul li ul {
	visibility: hidden;
    display: none;
	
	margin: 0;
	padding: 0;
	width: 220px;
	position: absolute;
	top: 35px;
	left: 150px;
}

/* We show the third level menu only when they hover the second level menu parent */
#menu ul li:hover ul li:hover > ul{
	visibility: visible;
	display: block;
}

/* Menu at the top of individual pages */
#menu-top {
	display: block;
    height: 34px;
    line-height: 32px;
    position: relative;
    width: 100%;
	background-color: #FAFAFA;
    border-radius: 4px;
    border-style: solid;
	border-color: #E5E5E5;
    border-width: 1px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 10px;
	color:#000000;
}
#menu-top ul {
    margin: 0;
    padding: 0;
}
#menu-top li {
    display: inline;
    float: left;
    list-style: none outside none;
    position: relative;
    text-decoration: none;
}
#menu-top li a {
    color: #333333;
    display: block;
    padding: 0 20px;
    text-decoration: none;
}
#menu-top li ul {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    left: -9999px;
    list-style: none outside none;
    position: absolute;
    border: 0;
}
#menu-top li ul li {
    float: none;
    padding-top: 0;
}
#menu-top li ul a {
    white-space: nowrap;
}
#menu-top li:hover ul {
    left: 0;
	z-index: 500;
}
#menu-top li:hover a {
	background-color: #2184BE;
	color: #ffffff !important;
    text-decoration: none;
}
#menu-top li:hover ul a {
    text-decoration: none;
}
#menu-top li:hover ul li a:hover {
	background-color: #2184BE;
	color: #ffffff !important;
}

#menu-top .current {
	background-color: #2184BE;
	color: #ffffff !important;
}

#menu-top .current  a{
	color: #ffffff !important;
}

.left {
	float:left;
}
.right{
	float:right;
}

/* INFO */
.notification-info {
	background: #5BC0DE;
	border-radius: 2px;
	padding: 0 30px 0 74px;
	border: 1px solid #5BC0DE;
	margin-bottom: 15px;
	font-size:12px;
	min-height:40px;
	position:relative;
	box-shadow:0 0 3px rgba(0,0,0,0.1);
}

.notification-info:before {
	content:"\f128";
	font-family:FontAwesome;
	position:absolute;
	top: 15px;
	left: 30px;
	color:#FFFFFF;
	font-size:14px;
}

.notification-info h3 {
	color: #FFFFFF;
	margin: 2px;
	display: none;
}

.notification-info p {
	color: #FFFFFF;
	margin: 15px 0;
	font-size: 15px;
}
/* SUCCESS */
.notification-success {
	background: #22CC77;
	border-radius: 2px;
	padding: 0 30px 0 74px;
	border: 1px solid #22CC77;
	margin-bottom: 15px;
	font-size:12px;
	min-height:40px;
	position:relative;
	box-shadow:0 0 3px rgba(0,0,0,0.1);
}

.notification-success:before {
	content:"\f00c";
	font-family:FontAwesome;
	position:absolute;
	top: 15px;
	left: 30px;
	color:#FFFFFF;
	font-size:14px;
}

.notification-success h3 {
	color: #FFFFFF;
	margin: 2px;
	display: none;
}

.notification-success p {
	color: #FFFFFF;
	margin: 15px 0;
	font-size: 15px;
}
/* WARNING */
.notification-warning {
	background: #FAB011;
	border-radius: 2px;
	padding: 0 30px 0 74px;
	border: 1px solid #FAB011;
	margin-bottom: 15px;
	font-size:12px;
	min-height:40px;
	position:relative;
	box-shadow:0 0 3px rgba(0,0,0,0.1);
}
.notification-warning:before {
	content:"\f12a";
	font-family:FontAwesome;
	position:absolute;
	top: 15px;
	left: 30px;
	color:#FFFFFF;
	font-size:14px;
}
.notification-warning h3 {
	color: #FFFFFF;
	margin: 2px;
	display: none;
}
.notification-warning p {
	color: #FFFFFF;
	margin: 15px 0;
	font-size: 15px;
}
/* ERROR */
.error {
	background: #ffd2d3;
	border: 1px solid #df8f90 !important;
	color: #871414;
	clear:both;
	padding: 2px;
	margin: 2px 0;
	display:block;
	border-radius: 3px;
}
.notification-error {
	background: #E43;
	border-radius: 2px;
	padding: 0 30px 0 74px;
	border: 1px solid #E43;
	margin-bottom: 15px;
	font-size:12px;
	min-height:40px;
	position:relative;
	box-shadow:0 0 3px rgba(0,0,0,0.1);
}
.notification-error:before {
	content:"\f00d";
	font-family:FontAwesome;
	position:absolute;
	top: 15px;
	left: 30px;
	color:#FFFFFF;
	font-size:14px;
}
.notification-error h3 {
	color: #FFFFFF;
	margin: 2px;
	display: none;
}
.notification-error p {
	color: #FFFFFF;
	margin: 15px 0;
	font-size: 15px;
}

.button, input.button, button.button {
    background-color: #EEEEEE;
    background-image: url("images/sprite3.png");
    background-position: 0 -67px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    color: #707070;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: auto;
    line-height: 19px !important;
    margin: 0 0 0 3px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
}
.color-scheme{display:inline-block;width:20px;height:20px;border:solid 1px rgba(50,55,61,0.2);border-radius:100%;margin-right:10px;margin-top:8px;}
.short_button:hover, input.short_button:hover, button.short_button:hover, .short_button:active, input.short_button:active, button.short_button:active, .short_button:focus, input.short_button:focus, button.short_button:focus {
    background-image: none;
}

.orangebuttonactive {
    background: none repeat scroll 0 0 #F79739;
}
.buttonactive {
    background: none repeat scroll 0 0 #F4F4F4;
}

.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    background-color: #FFFFFF;
    border-radius: 3px;
}
.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F;
}
.bs-callout-danger h4 {
    color: #D9534F;
}
.bs-callout-warning {
    background-color: #FCF8F2;
    border-color: #F0AD4E;
}
.bs-callout-warning h4 {
    color: #F0AD4E;
}
.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}
.bs-callout-info h4 {
    color: #5BC0DE;
}

.cwcontainer {
    background-color: #FAFAFA;
    border-color: #E5E5E5 #EEEEEE #EEEEEE;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05) inset;
    padding: 15px;
	border-radius: 4px;
	overflow:auto;
}

#unassignedBrands, #assignedBrands, #unassignedProducts, #assignedProducts, #unassignedRanges, #assignedRanges, #unrelatedProducts, #relatedProducts, #ungroupedCustomers, #groupedCustomers, .blockPosList {
	max-height: 800px;
	overflow: scroll;
	border: 1px solid #999;
	background: #fff;
}

#unassignedProducts, #assignedProducts {
	height: 300px;
}

.sortableCategoryList, #sortableSubCategories {
	height: 300px !important;
}

.sortableCategoryList li, #sortableSubCategories li, #unassignedBrands li, #assignedBrands li, #unassignedProducts li, #assignedProducts li, #unassignedRanges li, #assignedRanges li, #unrelatedProducts li, #relatedProducts li , #ungroupedCustomers li, #groupedCustomers li, .blockPosList li, #attributeTypes li {
	cursor: move;
	margin-bottom: 2px;
}

#unusedImages, #sortableStockImages {
	border: 1px solid #999;
	background: #fff;
	display: inline-block;
	padding: 3px;
	min-width: 214px;
	min-height: 217px;
}

.sortableCategoryList li > span, #sortableSubCategories li > span, #unassignedBrands li > span, #assignedBrands li > span, #unassignedProducts li > span, #assignedProducts li > span, #unassignedRanges li > span, #assignedRanges li > span, #unrelatedProducts li > span, #relatedProducts li > span, #ungroupedCustomers li > span, #groupedCustomers li > span, .blockPosList li > span {
	padding: 2px;
}
.sortableCategoryList span.expand_collapse {
	background-color: #262b33;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    text-align: center;
    width: 15px;
}

li.selected > span, li.selected > span > a {
	background-color: #1E90FF;
	color: #FFFFFF;
}

#unusedImages li > img, #sortableStockImages li > img, #sortableGalleryImages  li > img {
	margin-bottom: 5px;
	padding: 1px;
	border: 1px solid #CCCCCC;
	cursor: move;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

#unusedImages  li.selected > img, #sortableStockImages  li.selected > img, #sortableGalleryImages  li.selected > img {
	border: 2px solid #1E90FF;
	padding: 0px;
}

li.selected > span, li.selected > span > a {
	background-color: #1E90FF;
	color: #FFFFFF;
}

.ui-sortable {
	padding: 9px 12px;
    border-radius: 2px;
    border: 1px solid #CBD5DD;
    box-shadow: none;
    color: #3D4051;
	height: 100px;
    transition: border-color 0.4s;
    background: transparent;
	overflow-x: scroll;
	font-size: 14px;
    line-height: 1.42857143;
}
.ui-sortable li {
	margin-bottom: 0px;
}
.ui-sortable li.selected .ui-sortable {
	border: solid 1px red;
}
.ui-sortable li span {
	width: 100%;
	display: inline-block;
	padding: 0 2px;
	cursor: default;
}
.customerSearchResults {
	position: absolute;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;
}
.customerSearchResults:before {
	content: " ";
    position: absolute;
    left: 12px;
    right: auto;
    top: -16px;
    border: 8px solid transparent;
    border-bottom: 8px solid rgba(0,0,0,0.15);
}
.customerSearchResults:after {
	content: " ";
    position: absolute;
    left: 13px;
    right: auto;
    top: -14px;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.match-input {
	margin-top: 25px;
}

#sortableGalleryImages {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 3px;
	width: 100%;
}

#sortableGalleryImages li {
	margin: 3px 3px 6px 0;
	padding: 1px;
	float: left;
	width: calc(50% - 3px);
	height: 140px;
	position: relative;
	text-align: center;
}

#sortableGalleryImages li:before {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	bottom: 8px;
	color: #FFFFFF;
	content: "";
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 8px;
	text-align: center;
	width: 20px;
}

#sortableGalleryImages li[data-order="1"]:before {
	content: "1";
}

#sortableGalleryImages li[data-order="1"]:before {
	content: "1";
}

#sortableGalleryImages li[data-order="2"]:before {
	content: "2";
}

#sortableGalleryImages li[data-order="3"]:before {
	content: "3";
}

#sortableGalleryImages li[data-order="4"]:before {
	content: "4";
}

#sortableGalleryImages li[data-order="5"]:before {
	content: "5";
}

#sortableGalleryImages li[data-order="6"]:before {
	content: "6";
}

#sortableGalleryImages li[data-order="7"]:before {
	content: "7";
}

#sortableGalleryImages li[data-order="8"]:before {
	content: "8";
}

#sortableGalleryImages li[data-order="9"]:before {
	content: "9";
}

#sortableGalleryImages li[data-order="10"]:before {
	content: "10";
}

#sortableGalleryImages li li {
	margin: 0;
	width: 100%;
}

.ui-state-highlight {
	height: 144px !important;
    margin: 4px 3px 1px 0 !important;
}

.ui-state-highlight:before {
	display: none;
}

@media only screen and (max-width : 768px) {
	#cover {
		left: 0;
	}
	#topMenu {
		left: 0;
	}
	#sidebar {
		left: -240px;
	}
	.mainContent {
		left: 0;
	}
	.navbar-nav {
		margin: 0;
	}
	#topMenu .toggle {
		display: block;
	}
	#topMenu .user {
		font-size: 0;
		padding: 17px 0;
		background: none;
	}
	#topMenu .user:hover {
		background: none;
	}
	#topMenu .user i {
		margin-right: 0;
	}
	#topMenu .user:hover i {
		background: #1D75BC;
	}
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		background: white;
		box-shadow: 0 6px 12px rgba(0,0,0,0.175);
		border: 1px solid rgba(0,0,0,0.05);
		margin-top: 2px !important;
	}
	.match-input {
	margin-top: 15px;
	}
}
@media only screen and (min-width : 768px) {
	.split.even-left {
		padding-right: 7.5px;
	}
	.split.even-right {
		padding-left: 7.5px;
	}
	.form-group.even-left {
		padding-right: 15px;
	}
	.form-group.even-right {
		padding-left: 15px;
	}
}
@media only screen and (max-width : 480px) {
	.adminInfo {
		position: relative;
		bottom: 0;
		padding: 24px 0;
	}
}

.selectAll {
	cursor: pointer;
}

.ui-sortable li:hover span {
	cursor: move;
}

#popupBackground {
    background: #000000 none repeat scroll 0 0;
    border: 1px solid #cecece;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
#popup {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #cecece;
    display: none;
    font-size: 12px;
    height: auto;
    padding: 12px;
    position: fixed;
    width: 808px;
    z-index: 11;
}
#popup #framebox {
    overflow: auto;
    width: 808px;
}
#popup h1 {
    border-bottom: 1px dotted #d3d3d3;
    color: #6fa5fd;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 2px;
    text-align: left;
}
#popupClose {
    color: #6fa5fd;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    width: 100%;
}
#popup iframe {
    border: 0 none;
    height: 390px;
    width: 808px;
}